* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
	overflow-y: hidden;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.ve-page {
  position: absolute;
  height:100vh;
  width: 100vw;
  top:0;
  margin:0;
  padding:0;
  float:centre;
}

/*CREDIT STYLE*/

.ve-research-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 8%;
  width: 24.5%;
  right: 82%;
  top:20%;
  transform: rotate(90deg);
}

.ve-research {
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-research:hover {
  color: #DC143C;
}

.ve-content-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 24.5%;
  right: 82%;
  bottom: 20%;
  transform: rotate(90deg);
}

.ve-content {
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-content:hover {
  color: #DC143C;
}

/* TITLE and name */
.ve-title-container {
  position: absolute;
  left:40%;
  top: 71.5%;
  height:20%;
	width: 58.5%;
	position: absolute;
	overflow: hidden;
}

.ve-title {
  color: #0000FF;
  font-size: 85px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-name {
  color: #0000FF;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}
