* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
	overflow-y: hidden;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: scroll;
}

.ve-page {
  position: absolute;
  height:200vh;
  width: 100vw;
  top:0;
  margin:0;
  padding:0;
  float:centre;
}

/*BACK BAR*/
.ve-back-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 24.5%;
  right: 83.5%;
  top: 8.5%;
  transform: rotate(90deg);
}

.ve-back {
  text-decoration: none;
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-back:hover {
    color: #DC143C;
}

/*HOME BAR*/
.ve-home-button-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 24.5%;
  right: 83.5%;
  bottom: 58%;
  transform: rotate(90deg);
}

.ve-home-button {
  text-decoration: none;
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-home-button:hover {
  color: #DC143C;
}

/*HEADER*/
.ve-exploration-container {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 29%;
  right: 1%;
  top: 21%;
}

.ve-exploration {
  color: #0000FF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-glitch-art-container {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 4%;
  width: 29%;
  right: 1%;
  top: 30%;
}

.ve-glitch-art {
  color: #FFD700;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

/*TEXT STARTS*/
.ve-text-1-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 37%;
  width: 25%;
  right: 66%;
  top:11%;
}

.ve-text-1 {
  top:40%;
  color: #FFD700;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-text-2-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 70%;
  width: 25%;
  right: 36%;
  top: 11%;
}

.ve-text-2 {
  top:40%;
  color: #FFD700;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-text-3-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 70%;
  width: 25%;
  right: 36%;
  top: 15.3%;
}

.ve-text-3 {
  top:40%;
  color: #FFD700;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-text-4-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 70%;
  width: 25%;
  right: 66%;
  top: 50%;
}

.ve-text-4 {
  top:40%;
  color: #FFD700;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

.ve-text-5-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 70%;
  width: 25%;
  right: 66%;
  top: 53%;
}

.ve-text-5 {
  top:40%;
  color: #FFD700;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

/*IMAGE + ZOOM*/
.ve-image-1-container {
  position: absolute;
  margin: 0;
  padding: 2px;
  height: 36%;
  width: 45%;
  right: 20%;
  top: 10%;
  z-index: auto;
}

.ve-image-1-zoom {
  transition: transform .2s; /* Animation */
  width: 50%;
  height: 50%;
}

.ve-image-1-zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
