* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
	overflow-y: hidden;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.ve-page {
  position: absolute;
  height:100vh;
  width: 100vw;
  top:0;
  margin:0;
  padding:0;
  float:centre;
}

/*CREDIT STYLE*/
.ve-back-button-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 8%;
  width: 24.5%;
  right: 82%;
  top:20%;
  transform: rotate(90deg);
}

.ve-back-button {
  text-decoration: none;
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

  .ve-back-button:hover {
    color: #DC143C;
}

/*CONTENT BAR*/
.ve-content-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 7%;
  width: 24.5%;
  right: 82%;
  bottom: 20%;
  transform: rotate(90deg);
}

.ve-content {
  text-decoration: none;
  color: #0000FF;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: bold;
}

  .ve-content:hover {
    color: #DC143C;
}
/*ABOVE ONLY NEEDS CONTAINER - BC DROP BOX*/

/* Marquee */
.marquee-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* // Defines the width of the marquee */
  width: 70px;
  font-size: 50pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-decoration-color: #663190;
  text-align: center;
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  cursor: url("../assets/lmn-cursor.png") -20 0, pointer;
}

marquee {
  padding:2px;
  margin: 5px;
  overflow: visable;
  height:100vh;
  text-align: center;
  position:relative;
}

.ve-text-marquee {
  text-align: right;
}

.ve-text-marquee--blue {
  color: #0000FF;
}
